<div class='quickdate'>
    <a href='' ng-focus='toggleCalendar()' ng-click='toggleCalendar()' class='quickdate-button' title='{{hoverText}}'><div ng-hide='iconClass' ng-bind-html='buttonIconHtml'></div>{{mainButtonStr}}</a>
    <div class='quickdate-popup' ng-class='{open: calendarShown}'>
        <a href='' tabindex='-1' class='quickdate-close' ng-click='toggleCalendar()'><div ng-bind-html='closeButtonHtml'></div></a>

        <div class='quickdate-text-inputs'>
            <div class='quickdate-input-wrapper'>
                <label>Date</label>
                <input class='quickdate-date-input' ng-class="{'ng-invalid': inputDateErr}" name='inputDate' type='text' ng-model='inputDate' placeholder='1/1/2013' ng-enter="selectDateFromInput(true)" ng-blur="selectDateFromInput(false)" on-tab='onDateInputTab()' />
            </div>


            <div class='quickdate-input-wrapper' ng-hide='disableTimepicker'>
                <label>Time</label>
                <input class='quickdate-time-input' ng-class="{'ng-invalid': inputTimeErr}" name='inputTime' type='text' ng-model='inputTime' placeholder='12:00 PM' ng-enter="selectDateFromInput(true)" ng-blur="selectDateFromInput(false)" on-tab='onTimeInputTab()'>
            </div>
        </div>


        <div class='quickdate-calendar-header' >
            <a href='' class='quickdate-prev-month quickdate-action-link' tabindex='-1' ng-click='prevMonth()'><div ng-bind-html='prevLinkHtml'></div></a>
            <span class='quickdate-month'>{{calendarDate | date:'MMMM yyyy'}}</span>
            <a href='' class='quickdate-next-month quickdate-action-link' ng-click='nextMonth()' tabindex='-1'><div ng-bind-html='nextLinkHtml'></div></a>
        </div>

        <div class='quickdate-label-calendar-container'>
             
            <table class='quickdate-label'>
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='workweek in workweeks'>
                        <td>{{workweek.ww}}</td>
                    </tr>
                </tbody>
            </table>

            
            <table class='quickdate-calendar'>
                <thead>
                    <tr>
                        <th ng-repeat='day in dayAbbreviations'>{{day}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='week in weeks'>
                        <td ng-mousedown='selectDate(day.date, true, true)' ng-click='$event.preventDefault()' ng-class='{"other-month": day.other, "disabled-date": day.disabled, "selected": day.selected, "is-today": day.today}' ng-repeat='day in week'>
                            {{day.date | date:'d'}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class='quickdate-popup-footer'>
            <a href='' class='quickdate-clear' tabindex='-1' ng-hide='disableClearButton' ng-click='clear()'>Clear</a>
        </div>


    </div>
</div>